
  <div class="p-5 bg-image" style="
        background-repeat: no-repeat;
        background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGVjaHxlbnwwfHwwfHw%3D&w=1000&q=80');
        background-size: 100%;
        height: 46em;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        ">
        
        <div class="hometext d-flex   flex-column align-items-center justify-content-center">
            <h1>Hello every one!</h1><br> 
            <h6>This is my home page.</h6>
                <a href="/logout">
       <button class="button">logout</button>
       </a>
        
        </div>
    
        </div>